@charset "UTF-8";.fancybox-enabled{overflow:hidden}.fancybox-enabled body{overflow:visible;height:100%}.fancybox-is-hidden{position:absolute;top:-9999px;left:-9999px;visibility:hidden}.fancybox-container{position:fixed;top:0;left:0;width:100%;height:100%;z-index:99993;-webkit-tap-highlight-color:transparent;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateZ(0);transform:translateZ(0)}.fancybox-container~.fancybox-container{z-index:99992}.fancybox-bg,.fancybox-inner,.fancybox-outer,.fancybox-stage{position:absolute;top:0;right:0;bottom:0;left:0}.fancybox-outer{overflow-y:auto;-webkit-overflow-scrolling:touch}.fancybox-bg{background:#1e1e1e;opacity:0;transition-duration:inherit;transition-property:opacity;transition-timing-function:cubic-bezier(.47,0,.74,.71)}.fancybox-is-open .fancybox-bg{opacity:.87;transition-timing-function:cubic-bezier(.22,.61,.36,1)}.fancybox-caption-wrap,.fancybox-infobar,.fancybox-toolbar{position:absolute;direction:ltr;z-index:99997;opacity:0;visibility:hidden;transition:opacity .25s,visibility 0s linear .25s;box-sizing:border-box}.fancybox-show-caption .fancybox-caption-wrap,.fancybox-show-infobar .fancybox-infobar,.fancybox-show-toolbar .fancybox-toolbar{opacity:1;visibility:visible;transition:opacity .25s,visibility 0s}.fancybox-infobar{top:0;left:50%;margin-left:-79px}.fancybox-infobar__body{display:inline-block;width:70px;line-height:44px;font-size:13px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;text-align:center;color:#ddd;background-color:rgba(30,30,30,.7);pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-font-smoothing:subpixel-antialiased}.fancybox-toolbar{top:0;right:0}.fancybox-stage{overflow:hidden;direction:ltr;z-index:99994;-webkit-transform:translateZ(0)}.fancybox-slide{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;overflow:auto;outline:none;white-space:normal;box-sizing:border-box;text-align:center;z-index:99994;-webkit-overflow-scrolling:touch;display:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;transition-property:opacity,-webkit-transform;transition-property:transform,opacity;transition-property:transform,opacity,-webkit-transform;-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.fancybox-slide:before{content:"";display:inline-block;vertical-align:middle;height:100%;width:0}.fancybox-is-sliding .fancybox-slide,.fancybox-slide--current,.fancybox-slide--next,.fancybox-slide--previous{display:block}.fancybox-slide--image{overflow:visible}.fancybox-slide--image:before{display:none}.fancybox-slide--video .fancybox-content,.fancybox-slide--video iframe{background:#000}.fancybox-slide--map .fancybox-content,.fancybox-slide--map iframe{background:#e5e3df}.fancybox-slide--next{z-index:99995}.fancybox-slide>*{display:inline-block;position:relative;padding:24px;margin:44px 0;border-width:0;vertical-align:middle;text-align:left;background-color:#fff;overflow:auto;box-sizing:border-box}.fancybox-slide .fancybox-image-wrap{position:absolute;top:0;left:0;margin:0;padding:0;border:0;z-index:99995;background:transparent;cursor:default;overflow:visible;-webkit-transform-origin:top left;transform-origin:top left;background-size:100% 100%;background-repeat:no-repeat;-webkit-backface-visibility:hidden;backface-visibility:hidden}.fancybox-can-zoomOut .fancybox-image-wrap{cursor:zoom-out}.fancybox-can-zoomIn .fancybox-image-wrap{cursor:zoom-in}.fancybox-can-drag .fancybox-image-wrap{cursor:-webkit-grab;cursor:grab}.fancybox-is-dragging .fancybox-image-wrap{cursor:-webkit-grabbing;cursor:grabbing}.fancybox-image,.fancybox-spaceball{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;border:0;max-width:none;max-height:none}.fancybox-spaceball{z-index:1}.fancybox-slide--iframe .fancybox-content{padding:0;width:80%;height:80%;max-width:calc(100% - 100px);max-height:calc(100% - 88px);overflow:visible;background:#fff}.fancybox-iframe{display:block;padding:0;border:0;height:100%}.fancybox-error,.fancybox-iframe{margin:0;width:100%;background:#fff}.fancybox-error{padding:40px;max-width:380px;cursor:default}.fancybox-error p{margin:0;padding:0;color:#444;font:16px/20px Helvetica Neue,Helvetica,Arial,sans-serif}.fancybox-close-small{position:absolute;top:0;right:0;width:44px;height:44px;padding:0;margin:0;border:0;border-radius:0;outline:none;background:transparent;z-index:10;cursor:pointer}.fancybox-close-small:after{content:"×";position:absolute;top:5px;right:5px;width:30px;height:30px;font:20px/30px Arial,Helvetica Neue,Helvetica,sans-serif;color:#888;font-weight:300;text-align:center;border-radius:50%;border-width:0;background:#fff;transition:background .25s;box-sizing:border-box;z-index:2}.fancybox-close-small:focus:after{outline:1px dotted #888}.fancybox-close-small:hover:after{color:#555;background:#eee}.fancybox-slide--iframe .fancybox-close-small{top:0;right:-44px}.fancybox-slide--iframe .fancybox-close-small:after{background:transparent;font-size:35px;color:#aaa}.fancybox-slide--iframe .fancybox-close-small:hover:after{color:#fff}.fancybox-caption-wrap{bottom:0;left:0;right:0;padding:60px 30px 0;background:linear-gradient(180deg,transparent 0,rgba(0,0,0,.1) 20%,rgba(0,0,0,.2) 40%,rgba(0,0,0,.6) 80%,rgba(0,0,0,.8));pointer-events:none}.fancybox-caption{padding:30px 0;border-top:1px solid hsla(0,0%,100%,.4);font-size:14px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#fff;line-height:20px;-webkit-text-size-adjust:none}.fancybox-caption a,.fancybox-caption button,.fancybox-caption select{pointer-events:all}.fancybox-caption a{color:#fff;text-decoration:underline}.fancybox-button{display:inline-block;position:relative;margin:0;padding:0;border:0;width:44px;height:44px;line-height:44px;text-align:center;background:transparent;color:#ddd;border-radius:0;cursor:pointer;vertical-align:top;outline:none}.fancybox-button[disabled]{cursor:default;pointer-events:none}.fancybox-button,.fancybox-infobar__body{background:rgba(30,30,30,.6)}.fancybox-button:hover:not([disabled]){color:#fff;background:rgba(0,0,0,.8)}.fancybox-button:after,.fancybox-button:before{content:"";pointer-events:none;position:absolute;background-color:currentColor;color:currentColor;opacity:.9;box-sizing:border-box;display:inline-block}.fancybox-button[disabled]:after,.fancybox-button[disabled]:before{opacity:.3}.fancybox-button--left:after,.fancybox-button--right:after{top:18px;width:6px;height:6px;background:transparent;border-top:2px solid currentColor;border-right:2px solid currentColor}.fancybox-button--left:after{left:20px;-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}.fancybox-button--right:after{right:20px;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.fancybox-button--left{border-bottom-left-radius:5px}.fancybox-button--right{border-bottom-right-radius:5px}.fancybox-button--close:after,.fancybox-button--close:before{content:"";display:inline-block;position:absolute;height:2px;width:16px;top:calc(50% - 1px);left:calc(50% - 8px)}.fancybox-button--close:before{-webkit-transform:rotate(45deg);transform:rotate(45deg)}.fancybox-button--close:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.fancybox-arrow{position:absolute;top:50%;margin:-50px 0 0;height:100px;width:54px;padding:0;border:0;outline:none;background:none;cursor:pointer;z-index:99995;opacity:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;transition:opacity .25s}.fancybox-arrow:after{content:"";position:absolute;top:28px;width:44px;height:44px;background-color:rgba(30,30,30,.8);background-image:url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgNGwtMS40MSAxLjQxTDE2LjE3IDExSDR2MmgxMi4xN2wtNS41OCA1LjU5TDEyIDIwbDgtOHoiLz48L3N2Zz4=);background-repeat:no-repeat;background-position:50%;background-size:24px 24px}.fancybox-arrow--right{right:0}.fancybox-arrow--left{left:0;-webkit-transform:scaleX(-1);transform:scaleX(-1)}.fancybox-arrow--left:after,.fancybox-arrow--right:after{left:0}.fancybox-show-nav .fancybox-arrow{opacity:.6}.fancybox-show-nav .fancybox-arrow[disabled]{opacity:.3}.fancybox-loading{border:6px solid hsla(0,0%,39%,.4);border-top:6px solid hsla(0,0%,100%,.6);border-radius:100%;height:50px;width:50px;-webkit-animation:a .8s infinite linear;animation:a .8s infinite linear;background:transparent;position:absolute;top:50%;left:50%;margin-top:-25px;margin-left:-25px;z-index:99999}@-webkit-keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fancybox-animated{transition-timing-function:cubic-bezier(0,0,.25,1)}.fancybox-fx-slide.fancybox-slide--previous{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);opacity:0}.fancybox-fx-slide.fancybox-slide--next{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}.fancybox-fx-slide.fancybox-slide--current{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}.fancybox-fx-fade.fancybox-slide--next,.fancybox-fx-fade.fancybox-slide--previous{opacity:0;transition-timing-function:cubic-bezier(.19,1,.22,1)}.fancybox-fx-fade.fancybox-slide--current{opacity:1}.fancybox-fx-zoom-in-out.fancybox-slide--previous{-webkit-transform:scale3d(1.5,1.5,1.5);transform:scale3d(1.5,1.5,1.5);opacity:0}.fancybox-fx-zoom-in-out.fancybox-slide--next{-webkit-transform:scale3d(.5,.5,.5);transform:scale3d(.5,.5,.5);opacity:0}.fancybox-fx-zoom-in-out.fancybox-slide--current{-webkit-transform:scaleX(1);transform:scaleX(1);opacity:1}.fancybox-fx-rotate.fancybox-slide--previous{-webkit-transform:rotate(-1turn);transform:rotate(-1turn);opacity:0}.fancybox-fx-rotate.fancybox-slide--next{-webkit-transform:rotate(1turn);transform:rotate(1turn);opacity:0}.fancybox-fx-rotate.fancybox-slide--current{-webkit-transform:rotate(0deg);transform:rotate(0deg);opacity:1}.fancybox-fx-circular.fancybox-slide--previous{-webkit-transform:scale3d(0,0,0) translate3d(-100%,0,0);transform:scale3d(0,0,0) translate3d(-100%,0,0);opacity:0}.fancybox-fx-circular.fancybox-slide--next{-webkit-transform:scale3d(0,0,0) translate3d(100%,0,0);transform:scale3d(0,0,0) translate3d(100%,0,0);opacity:0}.fancybox-fx-circular.fancybox-slide--current{-webkit-transform:scaleX(1) translateZ(0);transform:scaleX(1) translateZ(0);opacity:1}.fancybox-fx-tube.fancybox-slide--previous{-webkit-transform:translate3d(-100%,0,0) scale(.1) skew(-10deg);transform:translate3d(-100%,0,0) scale(.1) skew(-10deg)}.fancybox-fx-tube.fancybox-slide--next{-webkit-transform:translate3d(100%,0,0) scale(.1) skew(10deg);transform:translate3d(100%,0,0) scale(.1) skew(10deg)}.fancybox-fx-tube.fancybox-slide--current{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1)}@media (max-width:800px){.fancybox-infobar{left:0;margin-left:0}.fancybox-button--left,.fancybox-button--right{display:none!important}.fancybox-caption{padding:20px 0;margin:0}}.fancybox-button--fullscreen:before{width:15px;height:11px;left:calc(50% - 7px);top:calc(50% - 6px);border:2px solid;background:none}.fancybox-button--pause:before,.fancybox-button--play:before{top:calc(50% - 6px);left:calc(50% - 4px);background:transparent}.fancybox-button--play:before{width:0;height:0;border-top:6px inset transparent;border-bottom:6px inset transparent;border-left:10px solid;border-radius:1px}.fancybox-button--pause:before{width:7px;height:11px;border-style:solid;border-width:0 2px}.fancybox-button--thumbs,.fancybox-thumbs{display:none}@media (min-width:800px){.fancybox-button--thumbs{display:inline-block}.fancybox-button--thumbs span{font-size:23px}.fancybox-button--thumbs:before{width:3px;height:3px;top:calc(50% - 2px);left:calc(50% - 2px);box-shadow:0 -4px 0,-4px -4px 0,4px -4px 0,inset 0 0 0 32px,-4px 0 0,4px 0 0,0 4px 0,-4px 4px 0,4px 4px 0}.fancybox-thumbs{position:absolute;top:0;right:0;bottom:0;left:auto;width:220px;margin:0;padding:5px 5px 0 0;background:#fff;word-break:normal;-webkit-tap-highlight-color:transparent;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar;box-sizing:border-box;z-index:99995}.fancybox-show-thumbs .fancybox-thumbs{display:block}.fancybox-show-thumbs .fancybox-inner{right:220px}.fancybox-thumbs>ul{list-style:none;position:absolute;position:relative;width:100%;height:100%;margin:0;padding:0;overflow-x:hidden;overflow-y:auto;font-size:0}.fancybox-thumbs>ul>li{float:left;overflow:hidden;max-width:50%;padding:0;margin:0;width:105px;height:75px;position:relative;cursor:pointer;outline:none;border:5px solid transparent;border-top-width:0;border-right-width:0;-webkit-tap-highlight-color:transparent;-webkit-backface-visibility:hidden;backface-visibility:hidden;box-sizing:border-box}li.fancybox-thumbs-loading{background:rgba(0,0,0,.1)}.fancybox-thumbs>ul>li>img{position:absolute;top:0;left:0;min-width:100%;min-height:100%;max-width:none;max-height:none;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fancybox-thumbs>ul>li:before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-radius:2px;border:4px solid #4ea7f9;z-index:99991;opacity:0;transition:all .2s cubic-bezier(.25,.46,.45,.94)}.fancybox-thumbs>ul>li.fancybox-thumbs-active:before{opacity:1}}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }
html {
  font-size: 20px;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #eee;
  color: #4c4948;
  font-size: 14px;
  font-family: Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 2;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
}
#content-outer {
  flex: 1 auto;
}
#content-inner .img-alt {
  text-decoration: none;
}
#toggle-sidebar {
  position: fixed;
  bottom: 20px;
  left: 16px;
  z-index: 100;
  font-size: 16px;
  cursor: pointer;
}
.fa.fa-arrow-right.on {
  color: #1f2d3d !important;
}
#go-up {
  position: fixed;
  right: -16px;
  bottom: 20px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #4c4948;
}
a img,
a video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  padding: 4px;
  border: 1px solid $img-border-color;
  transition: all 0.2s;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
}
* {
  box-sizing: border-box;
}
table {
  overflow: auto;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
@media screen and (min-width: 768px) {
  #recent-posts,
  #tag,
  #archive,
  #post,
  #about {
    width: 55%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #recent-posts,
  #tag,
  #archive,
  #post,
  #about {
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  #recent-posts {
    width: 100%;
  }
  #tag,
  #archive,
  #about {
    width: 90%;
  }
  #post {
    width: 95%;
  }
  i#toggle-sidebar,
  #sidebar {
    display: none;
  }
  body {
    padding-left: 0 !important;
  }
}
#gitalk-container {
  border-top: 1px solid #ddd;
  margin-top: 30px;
}
#footer-outer {
  background-color: #242424;
  padding: 1rem;
  color: #eee;
}
#footer-outer .footer-text {
  text-align: center;
}
#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 10px 5%;
  position: fixed;
  top: 0;
  z-index: 100;
  font-size: 20px;
  background-color: #242424;
}
#navbar .nav-left {
  display: flex;
  align-items: center;
}
#navbar .nav-left .tou-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #fff;
}
#navbar .nav-left .tou-img img {
  width: 100%;
}
#navbar .title {
  color: #eee;
}
#navbar .toggle-menu {
  display: none;
  padding-top: 0.5rem;
  color: #eee;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#navbar .toggle-menu:hover {
  color: #fff;
}
#navbar a {
  color: #eee;
}
#navbar a:hover {
  color: #fff;
}
#navbar #site-name {
  font-weight: bold;
  cursor: pointer;
}
#navbar .site-page {
  margin: 0 1rem;
  font-size: 0.8rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  #navbar {
    padding: 10px 0.8rem;
  }
  #navbar .toggle-menu {
    display: block;
  }
  #navbar .title {
    display: none;
  }
  #navbar .menus {
    position: absolute;
    top: 3rem;
    right: 0.8rem;
    display: none;
    width: 8rem;
    background-color: rgba(255,255,255,0.9);
  }
  #navbar .menus a {
    display: block;
    margin-left: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.6rem;
    color: #4c4948;
    text-shadow: none;
    font-size: 0.8rem;
  }
  #navbar .menus a:hover {
    color: #000;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #navbar {
    padding: 10px 3%;
  }
}
.article-container pre,
.article-container .highlight {
  overflow: auto;
  margin: 1rem 0;
  padding: 0;
  background: #2d2d2d;
  color: #eff;
  font-size: 14px;
  line-height: $line-height-code-block;
}
blockquote {
  margin: 0;
  padding: 0 0.6rem;
  border-left: 0.2rem solid $blockquote-padding-color;
  color: $blockquote-color;
}
.article-container pre,
.article-container code {
  font-family: consolas, Menlo, 'PingFang SC', 'Microsoft YaHei', monospace, Helvetica Neue For Number !important;
}
.article-container code {
  padding: 0.1rem 0.2rem;
  background: $code-background;
  color: $code-foreground;
  word-wrap: break-word;
  font-size: 14px;
}
.article-container pre code {
  padding: 0;
  background: none;
  color: #eff;
  text-shadow: none;
}
.article-container .highlight {
  position: relative;
  border-radius: 5px;
}
.article-container .highlight pre {
  margin: 0;
  padding: 8px 0;
  border: none;
}
.article-container .highlight .line::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
.article-container .highlight table {
  position: relative;
  margin: 0;
  width: auto;
  border: none;
}
.article-container .highlight td {
  padding: 0;
  border: none;
  border: none !important;
}
.article-container .highlight figcaption {
  position: absolute;
  z-index: 1;
  margin-bottom: 1em;
  padding: 0.2em 0 0.2em 0.7rem;
  width: 100%;
  height: 1.4em;
  color: #eff;
  font-size: 1em;
  line-height: 1em;
}
.article-container .highlight figcaption span {
  float: left;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article-container .highlight figcaption a {
  float: right;
  padding-right: 10px;
  color: #eff;
}
.article-container .highlight figcaption a:hover {
  border-bottom-color: #eff;
}
.article-container .highlight figcaption+table {
  margin-top: 1em;
}
.article-container .highlight figcaption+table:before {
  margin-top: -2.1rem;
}
.article-container .highlight figcaption+table:after {
  top: -2.1rem;
  background-color: #f00;
}
.article-container .highlight .code pre {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
  background-color: #2d2d2d;
}
.article-container .highlight .line {
  height: 1rem;
}
.article-container .gutter {
  display: none;
}
.article-container .gist table {
  width: auto;
}
.article-container .gist table td {
  border: none;
}
.article-container pre .deletion {
  background: $highlight-deletion;
}
.article-container pre .addition {
  background: $highlight-addition;
}
.article-container pre .meta {
  color: #c792ea;
}
.article-container pre .comment {
  color: #546e7a;
}
.article-container pre .comment::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
.article-container pre .variable,
.article-container pre .attribute,
.article-container pre .regexp,
.article-container pre .ruby .constant,
.article-container pre .xml .tag .title,
.article-container pre .xml .pi,
.article-container pre .xml .doctype,
.article-container pre .html .doctype,
.article-container pre .css .id,
.article-container pre .tag .name,
.article-container pre .css .class,
.article-container pre .css .pseudo {
  color: #ff5370;
}
.article-container pre .variable::selection,
.article-container pre .attribute::selection,
.article-container pre .regexp::selection,
.article-container pre .ruby .constant::selection,
.article-container pre .xml .tag .title::selection,
.article-container pre .xml .pi::selection,
.article-container pre .xml .doctype::selection,
.article-container pre .html .doctype::selection,
.article-container pre .css .id::selection,
.article-container pre .tag .name::selection,
.article-container pre .css .class::selection,
.article-container pre .css .pseudo::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
.article-container pre .tag {
  color: #89ddff;
}
.article-container pre .tag::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
.article-container pre .number,
.article-container pre .preprocessor,
.article-container pre .literal,
.article-container pre .params,
.article-container pre .constant,
.article-container pre .command {
  color: #f78c6c;
}
.article-container pre .number::selection,
.article-container pre .preprocessor::selection,
.article-container pre .literal::selection,
.article-container pre .params::selection,
.article-container pre .constant::selection,
.article-container pre .command::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
.article-container pre .built_in {
  color: #f8c555;
}
.article-container pre .built_in::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
.article-container pre .ruby .class .title,
.article-container pre .css .rules .attribute,
.article-container pre .string,
.article-container pre .value,
.article-container pre .inheritance,
.article-container pre .header,
.article-container pre .ruby .symbol,
.article-container pre .xml .cdata,
.article-container pre .special,
.article-container pre .number,
.article-container pre .formula {
  color: #c3e88d;
}
.article-container pre .ruby .class .title::selection,
.article-container pre .css .rules .attribute::selection,
.article-container pre .string::selection,
.article-container pre .value::selection,
.article-container pre .inheritance::selection,
.article-container pre .header::selection,
.article-container pre .ruby .symbol::selection,
.article-container pre .xml .cdata::selection,
.article-container pre .special::selection,
.article-container pre .number::selection,
.article-container pre .formula::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
.article-container pre .keyword,
.article-container pre .title,
.article-container pre .css .hexcolor {
  color: #89ddff;
}
.article-container pre .keyword::selection,
.article-container pre .title::selection,
.article-container pre .css .hexcolor::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
.article-container pre .function,
.article-container pre .python .decorator,
.article-container pre .python .title,
.article-container pre .ruby .function .title,
.article-container pre .ruby .title .keyword,
.article-container pre .perl .sub,
.article-container pre .javascript .title,
.article-container pre .coffeescript .title {
  color: #82aaff;
}
.article-container pre .function::selection,
.article-container pre .python .decorator::selection,
.article-container pre .python .title::selection,
.article-container pre .ruby .function .title::selection,
.article-container pre .ruby .title .keyword::selection,
.article-container pre .perl .sub::selection,
.article-container pre .javascript .title::selection,
.article-container pre .coffeescript .title::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
.article-container pre .tag .attr,
.article-container pre .javascript .function {
  color: #c792ea;
}
.article-container pre .tag .attr::selection,
.article-container pre .javascript .function::selection {
  background: rgba(128,203,196,0.125);
  color: #eff;
}
#content-outer {
  width: 100%;
  padding-top: 80px;
  margin-bottom: 1rem;
  position: relative;
}
#content-outer height calc(100vh- 100px) ul,
#content-outer height calc(100vh- 100px) ol,
#content-outer height calc(100vh- 100px) dl {
  margin-top: 0.4rem;
  padding: 0 0 0 0.8rem;
}
#about,
#archive {
  margin: auto;
  padding: 0 10px 1rem 10px;
  color: #000;
}
#about {
  min-height: 20rem;
}
#about .about-title {
  font-size: 2rem;
}
#about .article-container p:nth-of-type(1) {
  width: 100%;
  margin: auto;
  position: relative;
}
#about .article-container p:nth-of-type(1) img {
  width: 20vw;
}
#archive .article-title {
  font-size: 2rem;
}
#archive .article-sort-item {
  position: relative;
}
#archive .article-sort-item.year {
  margin-left: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #242424;
}
#archive .article-sort-item.year:hover:before {
  border-color: #000;
}
#archive .article-sort-item.year:before {
  border: none;
}
#archive .article-sort-item__time {
  position: absolute;
  color: #4c4948;
}
#archive .article-sort-item__title {
  display: block;
  margin-left: 5rem;
  cursor: pointer;
  color: #4c4948;
}
#archive .article-sort a:hover,
#archive .article-sort a:before {
  color: #000;
  transition: all 0.2s ease-in-out;
}
#site-social-icons {
  margin: 0 auto;
  width: 15rem;
  text-align: center;
}
#site-social-icons .social-icon {
  margin: 0 0.5rem;
  color: $color-light-black;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.15);
  font-size: 1.2rem;
  cursor: pointer;
}
#pagination {
  padding: 1rem 0;
}
#pagination .pagination {
  text-align: center;
}
#pagination .pagination .page-number,
#pagination .pagination .extend {
  display: inline-block;
  background-color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  color: #242424;
  height: 1.6rem;
  width: 1.6rem;
  line-height: 1.6rem;
  margin: 0 0.2rem;
}
#pagination .pagination .page-number:hover,
#pagination .pagination .extend:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
#pagination .pagination .extend {
  padding: 0 5px;
}
#pagination .pagination .current {
  background-color: #242424;
  color: #fff;
  cursor: default;
}
#pagination .fa {
  margin: 0 5px;
}
#post h1 {
  font-size: 2em;
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
}
#post h2 {
  font-size: 1.5em;
}
#post h3 {
  font-size: 1.3em;
}
#post h4 {
  font-size: 1.2em;
}
#post h5 {
  font-size: 1em;
}
#post h6 {
  font-size: 1em;
  color: #999 !important;
}
#post hr {
  border: 1px solid #ddd;
}
#post strong {
  font-weight: bold;
}
#post em,
#post cite {
  font-style: italic;
}
#post sup,
#post sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#post sup {
  top: -0.5em;
}
#post sub {
  bottom: -0.2em;
}
#post small {
  font-size: 0.85em;
}
#post acronym,
#post abbr {
  border-bottom: 1px dotted;
}
#post ul,
#post ol,
#post dl {
  margin-top: 0.4rem;
  padding: 0 0 0 0.8rem;
  list-style: none;
}
#post ul ul,
#post ol ul,
#post ul ol,
#post ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
#post ul {
  list-style: disc;
}
#post ol {
  list-style: decimal;
}
#post dt {
  font-weight: bold;
}
#post {
  margin: auto;
}
#post h1,
#post h2,
#post h3,
#post h4,
#post h5,
#post h6 {
  font-weight: bold;
  color: #000;
  line-height: 1.1em;
  margin: 1.1em 0;
  cursor: pointer;
}
#post a {
  color: #82aaff;
}
#post a:hover {
  color: #6190e8;
}
#post table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px 0;
}
#post table th {
  font-weight: bold;
  border: 2px solid #ddd;
  text-align: left;
  padding: 0 10px;
}
#post table td {
  border: 2px solid #ddd;
  padding: 0 10px;
}
#post img,
#post video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 5px auto;
  border-radius: 5px;
}
#post iframe {
  border: none;
}
#post blockquote {
  margin: 5px 0;
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}
#post .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
#post .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
#post .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
#post .caption {
  color: #dfe2e5;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
#post .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
#post .video-container iframe,
#post .video-container object,
#post .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.qrcode-img {
  width: 10rem;
}
.qrcode-desc {
  text-align: center;
  font-weight: bold;
}
.post-tags {
  display: inline-block;
  margin: 0.4rem;
  padding: 0 0.5rem;
  border: 1px solid #4c4948;
  border-radius: 0.3rem;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #242424 !important;
}
.post-tags:hover {
  background: #000;
  color: #fff !important;
}
#sidebar {
  position: fixed;
  top: 0;
  width: 300px;
  left: -300px;
  z-index: 10;
  overflow-y: auto;
  padding: 5px;
  height: 100%;
  background-color: #fafafa;
}
#sidebar .sidebar-toc a {
  color: #4c4948;
}
#sidebar .sidebar-toc a:hover {
  color: #6190e8;
}
#sidebar .sidebar-toc ol,
#sidebar .sidebar-toc li {
  list-style: none;
}
#sidebar .sidebar-toc ol {
  margin-top: 0.2rem;
  padding-left: 0.4rem;
}
#sidebar .sidebar-toc__title {
  padding-right: 0.5rem;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
#sidebar .sidebar-toc .toc-link {
  display: block;
  padding-left: 0.2rem;
  border-right: 3px solid transparent;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#sidebar .sidebar-toc .toc-link.active {
  color: #000;
  font-weight: bold;
}
